@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

#title {	
	font-family: 'Dynalight', sans-serif;
	font-weight: 300;
	padding: 1%;
	color: gray;
	font-size: 60px;
	text-align: center;
}

#about p {
	text-align: left;
	color: gray;
	padding: 1%;
}

#vsco {
	max-height: 30px;
}

.row {
	margin: 5%;
}
