@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

#title {	
	font-family: 'Dynalight', sans-serif;
	font-weight: 300;
	padding: 1%;
	color: gray;
	font-size: 60px;
	text-align: center;
}

.project-title {
	text-align: center;
	font-weight: 200;
	font-size: 30px;
	color: gray;
}

.project-desc, .modal-desc {
	color: gray;
}

.gallery {
	max-width: 100%;
}

.modal-img {
	width: 100%;
}

#github-mark {
	height: 30px;
}

.row {
	margin: 5%;
}

#math-app-carousel {
	max-width: 50%;
	margin: auto;
}
