#title {	
	font-weight: 300;
	padding: 1%;
	color: gray;
	font-size: 50px;
	text-align: center;
	margin-bottom: 3%;
}

.project-title {
	text-align: center;
	font-weight: 200;
	font-size: 30px;
	color: gray;
}

.project-desc, .modal-desc {
	color: gray;
}

.gallery {
	max-width: 100%;
}

.modal-img {
	width: 100%;
}

#github-mark {
	height: 30px;
}
