<h1 id="title">Project Gallery</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="project-title">Incluvie: Actor Data Collection</h2>
			<p class="project-desc">Incluvie is a platform that promotes and celebrates diversity within Hollywood. Our project with Incluvie is focused on actors and actresses. The task is to create a method that extracts specific data parameters related to gender and ethnic backgrounds of the actor. We created code and data visualizations to display diversity in Hollywood. Incluvie uses the datasets/code to compile actor profiles for its users. Utilizing this data, users can easily determine the kind of gender and cultural diversity stance a movie holds by viewing a movie’s cast and the actors’ gender/ethnic information.</p>
			<p class="project-desc">Technologies: Python, APIs (TMDB, Wikipedia)</p>
		</div>
		<div class="col">
		<a data-toggle="modal" data-target="#incluvie-modal">
			<img class="gallery" id="incluvie" src="assets/incluvie.png" alt="incluvie poster">
		</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h2 class="project-title">Digaai: Name-Ethnicity Classification</h2>
			<p class="project-desc">Digaai is a digital platform that documents the Brazilian diaspora through media (eg. text, audio, video and images). The purpose of our project was to assist Digaai in locating and classifying locations in the US made of the Brazilian immigrant population. We do so by identifying Brazilian names from a list of names and differentiating between Hispanic/Latino names that typify as Brazilian and those that do not.</p>
		</div>
		<div class="col">
			<a data-toggle="modal" data-target="#digaai-modal">
			<img class="gallery" id="digaai" src="assets/digaai.png" alt="digaai poster">
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h2 class="project-title">My Portfolio (lucyzhan.com)</h2>
			<p class="project-desc">I developed this website to showcase my coding projects and my diverse set of programming skills. This website is developed via Angular so I can pick up the language again. Look forward to future improvements on this site that uses Angular's service to delegate data access!</p>
			<p class="project-desc">Technologies: Angular, Bootstrap</p>
		</div>
	</div>
	<hr>
	<div class="row"><!-- 
		<div class="col">

		</div> -->
		<div class="col">
			<h2 class="project-title">CS 411 Project</h2>
			<p class="project-desc">Trippppr is a travel itinerary app. It helps you plan out your trip by searching events, restaurants, points of interests and flights within one platform. You simply enter trip details into the search box and the dates you will be there. A list of events happening in that area at the same time via will be generated via the Eventbrite API. Google Maps will return points of interest in the destination area. Zomato will return the popular restaurants in the area. IATA Geo is used to help search flights for the given set of dates. We also use Facebook OAuth to store the user's data. Each user will have a profile in which they can access all previously saved trip itinerarys.</p>
			<p class="project-desc">Technologies: APIs (Eventbrite, Zomato, Google Maps Places, IATA Geo), MERN (Mongo, Express React, Node) stack</p>

			<a href="https://github.com/ROODAY/Trippppr" target="_blank"><img id="github-mark" src="assets/github-mark.png"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h2 class="project-title">Quadratic Solver iOS App</h2>
			<p class="project-desc">Quadratic solver is a simple iOS app that was built with the mission to assist students with their math homework. The student just enters all three of the variables in the corresponding input boxes and press solve. The x value will be printed on the bottom. The app handles error inputs and displays error statements if the inputs are invalid or if there is not solution. I built this when I first started learning Swift as a small app to test my beginner Swift knowledge.</p>
			<p class="project-desc">Technologies: Swift, Xcode</p>
		</div>
		<div class="col">
			<div id="math-app-carousel" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img class="d-block w-100" src="assets/math_1.png" alt="First Screenshot of Math App">
			    </div>
			    <div class="carousel-item item">
			      <img class="d-block w-100" src="assets/math_2.png" alt="Second Screenshot of Math App">
			    </div>
			    <div class="carousel-item item">
			      <img class="d-block w-100" src="assets/math_3.png" alt="Third Screenshot of Math App">
			    </div>
			    <div class="carousel-item item">
			      <img class="d-block w-100" src="assets/math_4.png" alt="Fourth Screenshot of Math App">
			    </div>
			    <div class="carousel-item item">
			      <img class="d-block w-100" src="assets/math_5.png" alt="Fifth Screenshot of Math App">
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>
</div>

<!-- Incluvie Modal -->
<div class="modal fade" id="incluvie-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Incluvie Poster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<img class="modal-img" id="incluvie" src="assets/incluvie.png" alt="incluvie poster">
      </div>
      <div class="modal-footer">
      	<p class="modal-desc">Incluvie project poster</p>
      </div>
    </div>
  </div>
</div>

<!-- Digaai Modal -->
<div class="modal fade" id="digaai-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Digaai Poster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<img class="modal-img" id="digaai" src="assets/digaai.png" alt="digaai poster">
      </div>
      <div class="modal-footer">
      	<p class="modal-desc">Digaai project poster</p>
      </div>
    </div>
  </div>
</div>