<h1>Project Gallery</h1>
<div class="container">
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<h2>CS 506 Project</h2>
			<p>Languages:</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<h2>CS 542 Project</h2>
			<p>Languages:</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<h2>CS 411 Project</h2>
			<p>Languages:</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<h2>Math App</h2>
			<p>Languages:</p>
		</div>
	</div>
</div>