#mail {
	max-height: 40px;
	padding-left: 2px;
	padding-right: 2px;
}

#github {
	max-height: 40px;
	padding-left: 2px;
	padding-right: 2px;
}

#linkedin {
	max-height: 40px;
	padding-left: 2px;
	padding-right: 2px;
}

.col {
	padding-right: 0.5%;
}

.container {
	margin-right: 1px;
}

.footer {
	position: fixed;
	padding-bottom: 0.5%;
	left: 0;
	bottom: 0;
	width: 100%;
}
