<footer class="footer">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col">
		      <a href="https://www.linkedin.com/in/lucyzhan/"><img class="rounded float-right" id="linkedin" src="assets/linkedin-mark.png" alt="linkedin symbol"></a>
		      <a href="https://github.com/lucyyz"><img class="rounded float-right" id="github" src="assets/github-mark.png" alt="github symbol"></a>
		      <a href="mailto:lucyzh62@gmail.com"><img class="rounded float-right" id="mail" src="assets/mail.png" alt="mail symbol"></a>
		    </div>
		</div>
	</div>
</footer>