<!-- <nav class="navbar fixed-bottom navbar-expand-sm navbar-light">
	<div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"> --><!-- hidden spacer to center brand on mobile --><!-- </span>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="navbar-brand">
            	<img id="mail" src="assets/mail.png" class="d-inline-block align-top" >
            </li>
            <li class="navbar-brand">
            	<img id="github" src="assets/github.png" class="d-inline-block align-top">
            </li>
            <li class="nav-item">
            	<img id="linkedin" src="assets/linkedin.png" class="d-inline-block align-top">
  >
          </li>
        </ul>
    </div</nav> -->


<footer class="page-footer">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col">
		      <a href="https://www.linkedin.com/in/lucyzhan/"><img class="rounded float-right" id="linkedin" src="assets/linkedin.png"></a>
		      <a href="https://github.com/lucyyz"><img class="rounded float-right" id="github" src="assets/github.png"></a>
		      <a href="mailto:lucyzh62@example.com"><img class="rounded float-right" id="mail" src="assets/mail.png"></a>
		    </div>
		</div>
	</div>
</footer>