@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

#logo {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#title { /* title of home page */
	font-family: 'Calligraffitti', sans-serif;  /*choose bw Qwigley or Calligraffitti */
	font-size: 100px;
	font-weight: normal;
	color: grey;
	text-align: center;
	margin-top: 50%;
	margin-bottom: 50%;
}

